body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
}

p {
    font-size: 30px;
    color: #ff0000;
}
